.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* nền mờ */
  z-index: 9999;
  overflow-y: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cart-overlay .card {
  width: 100%;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 1rem;
}
